title = "Dev"
url = "/dev"
layout = "home"
description = "Dev page"
is_hidden = 0

[account]
redirect = "dev"
paramCode = "{{ code }}"

[session]
security = "all"
redirect = "index"

[usergroups]

[friends]
maxItems = 5

[userlist]
type = "random"
maxItems = 5
userID = 0

[friendrequests]
maxItems = 5

[usersearch]

[dungeonList]
==
<?php
function onStart()
{
//$type = "user.delete";
//$source = "testing page";
//$data = ["dog" => "cat", "username" => "george"];
//Event::fire('look.auditmanager.audit', [$type, $source, $data]);
//Event::fire('look.notificationmanager.trigger', ["dev.test", "2", "3", "LobsterCake"]);
//echo Clake\UserExtended\Classes\UserGroupManager::CurrentUser()->All()->IsInGroup("debugger");
//$this['debugger'] = Clake\UserExtended\Classes\UserGroupManager::CurrentUser()->All()->IsInGroup("debugger");
//$this['grouparr'] = Clake\UserExtended\Classes\UserGroupManager::CurrentUser()->All()->Get();
}
?>
==
{% component 'session' %}

<style>

    div.userblock
    {
        color:#000;
    }

    div.userblock:hover
    {

        background-color:rgba(0,0,0,0.1);

    }
</style>

<div class="row container" style="min-height:800px">
        
    <div class="col s12 ">

        {% if user %}

            <div class="row" style="margin-top:25px;">
                <div class="col s2">
                    <a href="#">{{ user.name }}</a>
                </div>
                <div class="col s10 right-align">
                    <a data-request="onLogout" data-request-data="redirect: '/dev'">Logout</a>
                </div>
            </div>

            <div class="row">
                <div class="col l2 s12">


                    {% if GROUPS.debugger %}
                        <h5>Debug</h5><hr>
                    {% endif %}

                    {% if GROUPS.debugger %}
                        <div class="row" style="margin-top:15px;">
                            <div class="col s12 m10">
                                <i>
                                    User Roles:
                                    <ul style="display:inline; margin-left:5px;">
                                        {% for role in groups %}
                                        <li style="display: inline;">{{ role.name }}{% if not loop.last %},{% endif %}</li>
                                        {% endfor %}

                                    </ul>
                                </i>
                            </div>
                        </div>
                    {% endif %}

                    {% if GROUPS.debugger %}
                        <div class="row" style="margin-top:15px;">
                            <div class="col s12 m10">
                                <i>
                                    RandomUsers:
                                    <ul style="display:inline; margin-left:5px;">
                                        {% for user in friends.listRandomUsers %}
                                        <li style="display: inline;">{{ user.name }}{% if not loop.last %},{% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                </i>
                            </div>
                        </div>
                    {% endif %}
                    
                    
                    {% if GROUPS.debugger %}
                        <div class="row" style="margin-top:15px;">
                            <div class="col s12 m10">
                                <i>
                                    Dungeons:
                                    {% for dungeon in dungeonList.dungeons %}
                                        <a href="/dungeons/{{dungeon.slug}}">

                                            <div class="userblock" style="width:100%;min-height:50px;padding:5px;">
                                                <span>{{dungeon.name}}</span><br>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </i>
                            </div>
                        </div>
                    {% endif %}



                </div>

                <div class="col l7 s12">

                    <h5>Settings</h5>
                    <div style="margin-top:15px;">
                        {% partial account ~ '::activation_check' %}

                        {% partial account ~ '::update' %}

                        <br>

                        {% partial account ~ '::deactivate_link' %}
                    </div>

                </div>

                <div class="col l3 s12">


                    {% if GROUPS.tester %}
                    <h5>Tests</h5><hr>
                    {% endif %}

                    {% if GROUPS.tester %}
                    <div class="row" style="margin-top:15px;">
                        <div class="col s12 m10">

                            Friends: <br>

                            {% for friend in friends.friends %}

                                <div style="width:100%;min-height:50px;padding:5px;">
                                    <span>{{friend.name}} {{friend.surname}}</span><br>
                                    <span style="margin-left:7px;">Last Online: {{friend.last_seen}}</span><br>
                                    <span style="margin-left:7px;font-style: italic;">{{friend.email}}</span><br>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                    {% endif %}

                    {% if GROUPS.tester %}

                        Suggested for you: <i style="font-size:11px;"> (Click to add)</i>

                        {% for user in userlist.userlist %}

                            <a href="#" style="text-decoration: none;" data-request-data="id: {{user.id}}" data-request="userlist::onFriendUser">

                                <div class="userblock" style="width:100%;min-height:50px;padding:5px;">
                                    <span>{{user.name}}</span><br>
                                    <span style="margin-left:7px;">Last Online: {{user.last_seen}}</span><br>
                                </div>

                            </a>

                        {% endfor %}

                    {% endif %}

                    <br>

                    {% if GROUPS.tester %}

                        Friend Requests: <i style="font-size:11px;"> (Click to accept)</i>

                        {% for user in friendrequests.friendrequests %}
                            <a href="#" style="" data-request-data="id: {{user.id}}" data-request="friendrequests::onAccept">

                                <div class="userblock" style="width:100%;min-height:50px;padding:5px;">
                                    <span>{{user.name}} {{user.surname}}</span><br>
                                    <span style="margin-left:7px;">Last Online: {{user.last_seen}}</span><br>
                                    <span style="margin-left:7px;font-style: italic;">{{user.email}}</span><br>
                                </div>
                            </a>
                        {% endfor %}

                    {% endif %}

                    {% if GROUPS.tester %}
                        <form data-request="usersearch::onSearch">
                            Search Phrase: <input type="text"  name="phrase" />
                            <input type="submit" value="Search" />
                        </form>

                        <br>

                        <div id="userSearchResults"></div>
                    {% endif %}

                </div>

            </div>
        {% endif %}

        <div class="row" style="margin-top:55px;" >

            <div class="col s12 m8 offset-m2">
                {% if not user %}

                    <h3>Sign in</h3>
                    {% partial account ~ '::signin' %}

                {% endif %}

            <p></p>

            </div>

        </div>

    </div>

</div>