title = "Dev"
url = "/dev"
layout = "home"
description = "Dev page"
is_hidden = 0

[account]
redirect = "dev"
paramCode = "{{ code }}"
==
<?php
function onStart()
{
//$type = "user.delete";
//$source = "testing page";
//$data = ["dog" => "cat", "username" => "george"];
//Event::fire('look.auditmanager.audit', [$type, $source, $data]);
//Event::fire('look.notificationmanager.trigger', ["dev.test", "2", "3", "LobsterCake"]);
//echo Clake\UserExtended\Classes\UserGroupManager::CurrentUser()->All()->IsInGroup("debugger");
//$this['debugger'] = Clake\UserExtended\Classes\UserGroupManager::CurrentUser()->All()->IsInGroup("debugger");
//$this['grouparr'] = Clake\UserExtended\Classes\UserGroupManager::CurrentUser()->All()->Get();
}
?>
==
{% component 'session' %}

<style>

    div.userblock
    {
        color:#000;
    }

    div.userblock:hover
    {

        background-color:rgba(0,0,0,0.1);

    }
</style>

<div class="row container" style="min-height:800px">
        
    <div class="col s12 ">

        {% if user %}

            <div class="row" style="margin-top:25px;">
                <div class="col s2">
                    <a href="#">{{ user.name }}</a>
                </div>
                <div class="col s10 right-align">
                    <a data-request="onLogout" data-request-data="redirect: '/dev'">Logout</a>
                </div>
            </div>

        {% endif %}

        <div class="row" style="margin-top:55px;" >

            <div class="col s12 m8 offset-m2">
                {% if not user %}

                    <h3>Sign in</h3>

                {% endif %}

            <p></p>

            </div>

        </div>

    </div>

</div>